doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    title DashForce
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body.div-container
    nav(style='height: 8em!important;')
      .nav-wrapper
        a.brand-logo(href='/dashboard')
          img#wos-logo(src='WOS Logo_Transparent.png', alt='WOS Logo')
    #login.col-md-6.col-md-offset-3
      h2(style='text-align:center; color:white;') Login
      form(method = 'POST' action='/' name='form', ng-submit='vm.login()', role='form')
        .form-group(ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }")
          label(style='font-size:20px; color:white;', for='email') Email
          i.material-icons(style='font-size:15px; color:#78a7b2') new_releases
          input#email.form-control(type='text', name='email', ng-model='vm.username', required='')
          // <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Email is required</span>
        .form-group(ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }")
          label(style='font-size:20px; color:white;', for='password') Password
          i.material-icons(style='font-size:15px; color:#78a7b2') new_releases
          input#password.form-control(type='password', name='password', ng-model='vm.password', required='')
          // <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        .form-actions
          button.btn.btn-primary(style='background-color: #2c3441;', type='submit', ng-disabled='form.$invalid || vm.dataLoading') Login
          // <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          a.btn.btn-link(style='background-color: #2c3441;', href='/register') Register
      p(style='color:white; text-align: center;')
        i.material-icons(style='font-size:15px; color:#78a7b2') new_releases
        |  = required input
    //
      <footer class="page-footer">
      <div class="container">
      <div class="row">
      <div class="col l6 s12">
      </div>
      </div>
      </div>
      <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
      </div>
      </footer>
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-route.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0l/angular-cookies.min.js')
    script(type='text/javascript', src='/Users/kevinbaxter/WOSDash/public/javascripts/log-in-controller.js')
    script(type='text/javascript', src='/Users/kevinbaxter/WOSDash/public/javascripts/app.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
